<div class="row">
  <%= form_for(@volunteer) do |f| %>
    <% if @volunteer.errors.any? %>
      <div id="error_explanation" class="alert-box alert">
        <p><%= pluralize(@volunteer.errors.count, "error") %> prohibited this volunteer from being saved:</p>

        <ul>
        <% @volunteer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>

    <% end %>
    <div class="field four columns">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name  %>
    </div>

    <div class="field four columns">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="actions four columns">
      <%= f.submit %>
    </div>
  <% end %>
</div>