.row
  .twelve.columns

    %h1 Listing volunteers

    = form_for @volunteer do |the_person|
      = the_person.label :email, "Login"
      = the_person.text_field :email, :disabled => :disabled

      = the_person.submit "By email", :disabled => :disabled
      = the_person.submit "By Name", :disabled => :disabled
    %table
      %tr
        %th Name
        %th Email
        %th Volunteer Time

      - @volunteers.each do |volunteer|
        %tr
          %td= link_to( volunteer.name, volunteer) 
          %td= volunteer.email
          %td
            = "#{pluralize(volunteer.shops.count, 'shop')},"
            = "#{pluralize(volunteer.sessions.collect{|x| x.hours_worked}.inject{|sum,x| sum + x }, 'hour')} worked"

    // = link_to 'New Volunteer', new_volunteer_path
