/ _login.html.haml

/ :class => 'search-query ui-autocomplete-input', :placeholder => 'Search', data: {autocomplete_source: @volunteers.map(&:name)}


/ %pre= debug shop_id



.row
	= form_for @new_session do |sess|
		.twelve.columns.panel

			= label :email, "Volunteer Login"
			= text_field :volunteer, :search, :class => 'search-query ui-autocomplete-input', :placeholder => 'Type name or email', data: {autocomplete_source:  @volunteers.collect{|x| { :value => x.id, :label => ["#{x.first_name} #{x.last_name}","#{x.email}"].reject{|x|x == ""}.join(", ") } }}

			/ .alert-box.success
			%p
				%b Shop time: 
				= this_shop.shop_date                               
			= sess.hidden_field :volunteer_id, :value => 0
			= sess.hidden_field :shop_id, :value => this_shop.id
	
			= sess.hidden_field :starts_at, :value => "now"
			= submit_tag "Login", :class => :button

