/ _tr.html.haml
/ %pre= debug sesh
%tr
	%td= link_to sesh.volunteer.name, sesh.volunteer

	- if sesh.ends_at.nil?
		%td
			= link_to sesh.shop.shop_date, sesh.shop
			%br
			= "started #{time_ago_in_words sesh.starts_at} ago" 
		%td
			= form_for sesh do |sess|
				= sess.hidden_field :starts_at, :value => sesh.starts_at
				= sess.hidden_field :ends_at, :value => "now"
				= submit_tag "logout", :class => "small radius alert button"
			/ = link_to 'log off', edit_session_path(sesh), :class => "small radius alert button"
	
	- else 
		%td
			= link_to sesh.shop.shop_date, sesh.shop
			%br
			= sesh.hours_worked
			hours, finished
			= time_ago_in_words sesh.ends_at
			ago

		%td
			= link_to 'modify', edit_session_path(sesh), :class => "small radius secondary button"
