.row
	.eight.columns
		%h1 Listing sessions

		%table
			%tr
				%th Volunteer
				%th Shop
				%th Started
				%th Finished

			- @sessions.each do |session|
				%tr
					%td= link_to session.volunteer.name, session
					%td= shop_date session.shop
					%td= session.starts_at
					%td= session.ends_at

		%br

		= link_to 'New Session', new_session_path
	.four.columns
		.panel
			%h4 Community Service
