.row
	.twelve.columns
		%p#notice= notice



		%p.info 	
			= @session.volunteer.name
			signed into 
			= link_to "the shop", @session.shop 
			= time_ago_in_words @session.starts_at
			ago.
		= link_to 'Back', @session.shop

		%pre
			= debug @session.volunteer