= form_for @shop do |f|
  - if @shop.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shop.errors.count, "error")} prohibited this shop from being saved:"
      %ul
        - @shop.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :starts_at
    = f.text_field :starts_at, :value => ( @shop.starts_at ? standard_datetime(@shop.starts_at) : "now" )
  .field
    = f.label :ends_at
    = f.text_field :ends_at, :value => ( @shop.ends_at ? standard_datetime(@shop.ends_at) : "" )
  .field
    = f.label :location
    = f.text_field :location
  .actions
    = f.submit 'Save'
