/ current.html.haml
.row
	/ .twelve.columns
	/ 	= render "sessions/login", :locals => { :shops => @shops }

	/ %hr
	- unless @shops.empty?
		.twelve.columns
			%dl.tabs
				- @shops.each_with_index do |shop, index|
					%dd{ "class" => ( index == 0 ? "active" : "") }
						= link_to shop.shop_date, "\#shop_#{shop.id}"
			%ul.tabs-content
				- @shops.each_with_index do |shop, index|
					%li{ :id => "shop_#{shop.id}Tab", "class" => ( index == 0 ? "active" : "")}= render shop

	.four.columns
		/ .panel
		/ 	- if @shops.empty?
		/ 		%p No shops found.
		/ 		%p
		/ 			= link_to 'Start a new shop', new_shop_path, :class => "button"
		/ 		/ = form_for @new_shop do |shop|
		/ 		/ 	= hidden_field :shop, :starts_at, :value => "now"
		/ 		/ 	= shop.submit "Start a new shop", :class => :button


		/ 	- else
		/ 		%h1= "#{pluralize( @shops.count, 'shop' )}"

		/ 		- @shops.each do |shop|
		/ 			%p
		/ 				Shop is scheduled to run from
		/ 				= shop.starts_at
		/ 				to
		/ 				= "#{shop.ends_at}."
		/ 			%p
		/ 				= link_to "Join this shop", shop

		.panel
			%h4 We'll teach you to...

