-# current.html.haml
.row
	-# .twelve.columns
	-# 	= render "sessions/login", :locals => { :shops => @shops }

	-# %hr
	- if @shops.empty?
		.four.columns.push-eight
			.panel
				%p No shops found.
				%p
					= link_to 'Start a new shop', new_shop_path, :class => "button"
				-# = form_for @new_shop do |shop|
				-# 	= hidden_field :shop, :starts_at, :value => "now"
				-# 	= shop.submit "Start a new shop", :class => :button


		-# 	- else
		-# 		%h1= "#{pluralize( @shops.count, 'shop' )}"

		-# 		- @shops.each do |shop|
		-# 			%p
		-# 				Shop is scheduled to run from
		-# 				= shop.starts_at
		-# 				to
		-# 				= "#{shop.ends_at}."
		-# 			%p
		-# 				= link_to "Join this shop", shop

		-# .panel
		-# 	%h4 We'll teach you to...
	- else
		.twelve.columns
			%dl.tabs
				- @shops.each_with_index do |shop, index|
					%dd{ "class" => ( index == 0 ? "active" : "") }
						= link_to shop.shop_date, "\#shop_#{shop.id}"
			%ul.tabs-content
				- @shops.each_with_index do |shop, index|
					%li{ :id => "shop_#{shop.id}Tab", "class" => ( index == 0 ? "active" : "")}= render shop



			/ = "#{pluralize(shop.sessions.are_volunteer.count, 'volunteer')}, "
			/ = "#{pluralize(number_with_precision(shop.sessions.are_volunteer.collect{|x| x.hours_worked}.inject{|sum,x| sum + x }, :precision => 2), 'hour')} worked"
			/ = "#{pluralize(shop.sessions.are_visitor.count, 'visitor')}, "
			/ = "#{pluralize(number_with_precision(shop.sessions.are_visitor.collect{|x| x.hours_worked}.inject{|sum,x| sum + x }, :precision => 2), 'hour')} worked"

	.eight.columns.pull-four
		%h3 In the last year, QCBS has seen
		%ul
			%li
				%h4
					= pluralize @volunteer_sessions.last_year.group_by{|x| x.volunteer}.count, 'volunteer'
					%small
						= "+#{@volunteer_sessions.group_by{|x| x.volunteer}.count} overall"

			%li
				%h4
					= pluralize @visitor_sessions.last_year.group_by{|x| x.volunteer}.count, 'visitor'
					%small
						=  "+#{@visitor_sessions.group_by{|x| x.volunteer}.count} overall"

			%li
				%h4
					- hours = @sessions.collect{|x|x.hours_worked.to_f}.inject{|y,z| y+z}
					= pluralize hours, 'hour'
					%small
						= " #{@sessions.count}"
