/ current.html.haml
.row
	.eight.columns
		= render "sessions/login", :locals => { :shops => @shops }
	.four.columns
		.panel
			- if @shops.empty?
				%p No shops found.
				= form_for @new_shop do |shop|
					= hidden_field :shop, :starts_at, :value => "now"
					= shop.submit "Start a new shop", :class => :button


			- else
				%h1= "#{pluralize( @shops.count, 'shop' )}"
				- @shops.each do |shop|
					%p
						Shop is scheduled to run from
						= shop.starts_at
						to
						= "#{shop.ends_at}."
					%p
						= link_to "Join this shop", shop

		.panel
			%h4 We'll teach you to...

