%h1 Listing shops

%table
  %tr
    %th Shop
    %th Location
    %th # Volunteers

  - @shops.each do |shop|
    %tr
      %td= link_to shop_date(shop), shop
      %td= shop.location
      %td
        = "#{pluralize(shop.volunteers.count, 'volunteer')},"
        = "#{pluralize(shop.sessions.collect{|x| x.hours_worked}.inject{|sum,x| sum + x }, 'hour')} worked"

%br

= link_to 'New Shop', new_shop_path
