%p#notice= notice

= form_for @new_session do |sess|
	= sess.hidden_field :shop_id
	= label :email, "Volunteer Login"
	= text_field :volunteer, :search

	= submit_tag "By email"
	= submit_tag "By Name"


%p
	%b Starts at:
	= @shop.starts_at
%p
	%b Ends at:
	= @shop.ends_at
%p
	%b Location:
	= @shop.location

- if @shop.volunteers.count > 0

- else
	%p no volunteers
= link_to 'Edit', edit_shop_path(@shop)
\|
= link_to 'Back', shops_path
