

.row
	- if notice
		.twelve.columns
			.alert-box
				%p#notice= notice

	.columns.eight

		%h2
			/ = "Shop \##{@shop.id},"
			= @shop.shop_date
		%p
			%b Location:
			= @shop.location
		.admin.hide
			%ul
				%li= link_to 'Edit', edit_shop_path(@shop)
				%li= link_to 'Back', shops_path


	/ .columns.four
	/ 	= # render :partial => "sessions/login"
	%hr


	.columns.twelve

		%h3
			= "#{pluralize(@shop.volunteers.count, 'volunteer')},"
			= "#{pluralize(@shop.sessions.collect{|x| x.hours_worked}.inject{|sum,x| sum + x }, 'hour')} worked"
		- if @shop.sessions.count > 0
			%table
				%tr
					%th Volunteer
					%th Starting
					%th Ending
					%th Hours
				- @shop.sessions.each do |session|
					%tr
						%td= link_to session.volunteer.name, session.volunteer
						%td= session.starts_at
						%td= session.ends_at
						%td= session.hours_worked
						%td= link_to 'modify', edit_session_path(session)
		- else
			%p no volunteers

