%html
	/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
	/[if lt IE 7 ] <html class="ie6" lang="en">
	/[if IE 7 ] <html class="ie7" lang="en">
	/[if IE 8 ] <html class="ie8" lang="en">
	/[if (gte IE 9)|!(IE)] <html lang="en">
	%head
		%meta{ :charset => "utf-8" }
		/ Uncomment to make IE8 render like IE7
		/ <meta http-equiv="X-UA-Compatible" content="IE=7"/>

		/ Set the viewport width to device width for mobile
		%meta( name="viewport" content="width=device-width, initial-scale=1.0")

		%title= content_for?(:title) ? yield(:title) : "QCBS | Querencia Community Bike Shop"
		%link( rel='stylesheet' id='droid sans-css'  href='http://fonts.googleapis.com/css?family=Droid+Sans%3A400&#038;ver=3.5-alpha-21989' type='text/css' media='all')
		%link( rel='stylesheet' id='droid serif-css'  href='http://fonts.googleapis.com/css?family=Droid+Serif%3A400&#038;ver=3.5-alpha-21989' type='text/css' media='all' )

		/ Included CSS Files
		= stylesheet_link_tag "application"

		/ Included JS Files
		= javascript_include_tag "application"

		= csrf_meta_tags
	%body
		#navigation
			%nav.top-bar
				%ul
					%li.name
						%h1
							%a( href="/") Querencia Community Bike Shop
					%li.toggle-topbar
						%a( href="#" )

				%section
					%ul.right
						= li_active_link_to 'New Shop', "/shops/new"
						= li_active_link_to 'All Shops', "/shops"
						= li_active_link_to 'Current Shops', "/shops/current"
						= li_active_link_to 'All Volunteers', "/volunteers"
						= li_active_link_to 'New Volunteer', "/volunteers/new"

		#page
			= yield
		#footer
			.row
				.eight.columns
					%h4 Querencia Community Bike Shop
					%p
						Querencia Community Bike Shop is a
						%b 503c not-for-profit organization
						that ... officia deserunt mollit anim id est laborum.
				.four.columns
					%h4 QCBS Links
					%ul.mobile-grid.mobile-two-up
						%li
							%span.label Email
							= mail_to 'info@qcbs.org'
						%li
							%span.label Blog
							= link_to 'http://qcbs.wordpress.com/', 'http://qcbs.wordpress.com/'
						%li.twitter
							%span.label Twitter
							= link_to '@QuerenciaDenton', 'http://twitter.com/QuerenciaDenton'